
.idea/

.DS_Store

MPP/mpp-library/build/*

MPP/ios-app/Pods/Pods.xcodeproj/xcuserdata/rupestre.xcuserdatad/xcschemes/

MPP/ios-app/Pods/Target Support Files/MultiPlatformLibrary/

MPP/ios-app/Pods/Target Support Files/Pods-ios-app/
