
.idea/

.DS_Store

MPP/mpp-library/build/*

MPP/ios-app/Pods/Pods.xcodeproj/xcuserdata/rupestre.xcuserdatad/xcschemes/

MPP/ios-app/Pods/Target Support Files/MultiPlatformLibrary/

MPP/ios-app/Pods/Target Support Files/Pods-ios-app/

MPP/ios-app/ios-app.xcworkspace/xcuserdata/rupestre.xcuserdatad/

MPP/ios-app/ios-app.xcodeproj/project.xcworkspace/xcuserdata/rupestre.xcuserdatad/
